<a href="https://colab.research.google.com/github/dong-han-lee/20230205-Python-DataAnalysis/blob/main/20230304_Jason.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 抓取網頁原始碼

In [ ]:
import requests

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [ ]:
r = requests.get(url)

In [ ]:
print(r.text)

## 抓取Ajax網頁資料

### 從非Ajax網站的網頁上,可以直接看到資料

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/spy.html"

In [ ]:
r = requests.get(url)

In [ ]:
print(r.text)

In [ ]:
import pandas as pd

In [ ]:
dfs = pd.read_html(url)

In [ ]:
dfs[0]

In [ ]:
r.request.headers

{'User-Agent': 'python-requests/2.25.1', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

## 從 ajax 網頁上，可能看不到資料

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/spy_ajax.html"

In [ ]:
r = requests.get(url)

In [ ]:
print(r.text)

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/spy.json"

In [ ]:
data = requests.get(url).json()

In [ ]:
df = pd.read_json(url)

In [ ]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600

## 關於 pandas 的 read_html()

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [ ]:
dfs = pd.read_html(url)

In [ ]:
type(dfs)

list

In [ ]:
len(dfs)

2

## 剖析網頁原始碼

In [ ]:
s = """
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>範例索引</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="bg-warning p-3 rounded">Web及爬蟲簡介課程範例</h1>

                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>
                </ul>         
            </div>
    
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>"""

In [ ]:
type(s)

str

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
soup = BeautifulSoup(s)

In [ ]:
soup.h1

In [ ]:
soup.h1.text

'Web及爬蟲簡介課程範例'

In [ ]:
soup.li

In [ ]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [ ]:
soup.select("li")[0].text

' HTML 範例'

In [ ]:
soup.select("li").text

AttributeError: ignored

In [ ]:
for x in soup.select("li"):
  print(x.text)

 HTML 範例
 HTML + CSS 範例
 HTML + CSS + Javascript 範例
 example01.html (爬蟲抓取用範例)
 example02.html (爬蟲抓取用範例)
 example03.html (爬蟲抓取用範例)
 example04.html (爬蟲抓取用範例)
 example05.html (爬蟲抓取用範例)
 Classic HTML 範例 (爬蟲抓取用範例)
 Ajax 範例 (爬蟲抓取用範例)
 HTTP GET 方法說明
 HTTP POST 方法說明

In [ ]:
for i, x in enumerate(soup.select("li")):
  print(i, ":", x.text)

0 :  HTML 範例
1 :  HTML + CSS 範例
2 :  HTML + CSS + Javascript 範例
3 :  example01.html (爬蟲抓取用範例)
4 :  example02.html (爬蟲抓取用範例)
5 :  example03.html (爬蟲抓取用範例)
6 :  example04.html (爬蟲抓取用範例)
7 :  example05.html (爬蟲抓取用範例)
8 :  Classic HTML 範例 (爬蟲抓取用範例)
9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [ ]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}", ":", x.text)

 0 :  HTML 範例
 1 :  HTML + CSS 範例
 2 :  HTML + CSS + Javascript 範例
 3 :  example01.html (爬蟲抓取用範例)
 4 :  example02.html (爬蟲抓取用範例)
 5 :  example03.html (爬蟲抓取用範例)
 6 :  example04.html (爬蟲抓取用範例)
 7 :  example05.html (爬蟲抓取用範例)
 8 :  Classic HTML 範例 (爬蟲抓取用範例)
 9 :  Ajax 範例 (爬蟲抓取用範例)
10 :  HTTP GET 方法說明
11 :  HTTP POST 方法說明

In [ ]:
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}: {x.text}")

 0:  HTML 範例
 1:  HTML + CSS 範例
 2:  HTML + CSS + Javascript 範例
 3:  example01.html (爬蟲抓取用範例)
 4:  example02.html (爬蟲抓取用範例)
 5:  example03.html (爬蟲抓取用範例)
 6:  example04.html (爬蟲抓取用範例)
 7:  example05.html (爬蟲抓取用範例)
 8:  Classic HTML 範例 (爬蟲抓取用範例)
 9:  Ajax 範例 (爬蟲抓取用範例)
10:  HTTP GET 方法說明
11:  HTTP POST 方法說明

## 關於字串格式化

In [ ]:
x = 1
y = 1.23
z = True
w = "dog"

In [ ]:
print(x,y,z,w)

1 1.23 True dog

In [ ]:
print(x,y,z,w,sep="")

11.23Truedog

In [ ]:
print(x,y,z,w,sep="+")

1+1.23+True+dog

## f-string(3.5+)

In [ ]:
print(f"{x},{y},{z},{w}")

1,1.23,True,dog

In [ ]:
print("{x},{y},{z},{w}")

{x},{y},{z},{w}

In [ ]:
print(f"{x},{y},{z},{w}")
print(f"{x:5},{y},{z},{w}")
print(f"{x:05},{y},{z},{w}")

1,1.23,True,dog
    1,1.23,True,dog
00001,1.23,True,dog

In [ ]:
print(f"{x},{y},{z},{w}")
print(f"{x},{y:7.2f},{z},{w}")
print(f"{x},{y:07.2f},{z},{w}")

1,1.23,True,dog
1,   1.23,True,dog
1,0001.23,True,dog

In [ ]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x}, {y}, {z}, {w:10}")
print(f"{x}, {y}, {z}, {w:>10}")
# 排版左邊< 右邊>

1, 1.23, True, dog
1, 1.23, True, dog
1, 1.23, True,        dog

## string.format

In [ ]:
print("{},{},{}".format(x,y,z,w))

1,1.23,True

In [ ]:
print("{0}, {1}, {2}, {1}".format(x, y, z, w))

1, 1.23, True, 1.23

In [ ]:
print("{a}, {b}, {c}, {d}".format(a=x, b=y, c=z, d=w))

1, 1.23, True, dog

## 練習

In [ ]:
popularity = [["Language", 2017, 2012, 2007, 2002, 1997, 1992, 1987], 
          ["Java", 1, 2, 1, 1, 15, 0, 0],
          ["C", 2, 1, 2, 2, 1, 1, 1],
          ["C++", 3, 3, 3, 3, 2, 2, 5],
          ["C#", 4, 4, 7, 13, 0, 0, 0],
          ["Python", 5, 7, 6, 11, 27, 0, 0],
          ["Visual Basic .NET", 6, 17, 0, 0, 0, 0, 0],
          ["PHP", 7, 6, 4, 5, 0, 0, 0],
          ["JavaScript", 8, 9, 8, 7, 23, 0, 0],
          ["Perl", 9, 8, 5, 4, 4, 10, 0]]

format_string = "{:<20}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}"

In [ ]:
for i in popularity:
  print(format_string.format(*i))

Language              2017  2012  2007  2002  1997  1992  1987
Java                     1     2     1     1    15     0     0
C                        2     1     2     2     1     1     1
C++                      3     3     3     3     2     2     5
C#                       4     4     7    13     0     0     0
Python                   5     7     6    11    27     0     0
Visual Basic .NET        6    17     0     0     0     0     0
PHP                      7     6     4     5     0     0     0
JavaScript               8     9     8     7    23     0     0
Perl                     9     8     5     4     4    10     0

## 使用 css selector 來剖析資料

https://www.w3schools.com/cssref/css_selectors.php

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/"

In [ ]:
r = requests.get(url)

In [ ]:
soup = BeautifulSoup(r.text)

In [ ]:
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [ ]:
for i in soup.select("li"):
  print(r.text)

## 抓取露天拍賣資料

https://www.ruten.com.tw/category/0011

In [ ]:
url ="https://www.ruten.com.tw/category/0011"

In [ ]:
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

In [ ]:
r = requests.get(url, headers=headers)

In [ ]:
'凸頭' in r.text

False

In [ ]:
url = "https://rapi.ruten.com.tw/api/items/v2/list?gno=21203073884581,21203073855084,22243606777400,22244608865692,22302937500980,22306987134735,22308073518043,22134699516389,22238403273488,21945822081428,22115680698839&level=detail"

In [ ]:
data = requests.get(url, headers=headers).json()

In [ ]:
data

In [ ]:
type(data)

dict

In [ ]:
data.keys()

dict_keys(['status', 'data'])

In [ ]:
type(data['data'])

list

In [ ]:
data['data'][0].keys()

dict_keys(['id', 'class', 'name', 'num', 'images', 'currency', 'goods_price', 'goods_ori_price', 'goods_price_range', 'watch_num', 'sold_num', 'buyer_limit_num', 'stock_status', 'pre_order_ship_date', 'fast_ship', 'free_shipping', 'youtube_link', 'video_link', 'ncc_check_code', 'bsmi_code', 'goods_no', 'available', 'post_time', 'spec_type', 'deliver_way', 'mode', 'ship', 'platform', 'ctrl_rowid', 'user', 'user_credit', 'pay_way', 'title_style', 'selling_g_now_price', 'item_remaining_time', 'translation_type', 'translated_name', 'min_estimated_delivery_date', 'max_estimated_delivery_date', 'update_time', 'is_brand_seller', 'is_goods_from_oversea', 'location', 'condition', 'codition', 'accept_shiprule', 'user_class', 'close_no', 'description_url', 'spec_info', 'text2'])

In [ ]:
len(data['data'])

11

In [ ]:
for i in data['data']:
  print(f"{i['name']} ==> {i['goods_price_range']}")

凸頭 18650電池 可開發票 尖頭 鋰電池 充電電池 3000mAh 3.7v 高容量 手電筒 電風扇 Li-ion ==> {'min': 8, 'max': 24, 'ori_min': 8, 'ori_max': 24}
18650充電電池 高容量 4000mAh 電池 鋰電池 充電電池 3.7V Li-ion 尖頭 凸頭 充電器 USB ==> {'min': 39, 'max': 119, 'ori_min': 39, 'ori_max': 119}
三菱電機HC-BH023-S12   99新 ==> {'min': 39000, 'max': 40950, 'ori_min': 39000, 'ori_max': 40950}
【秀秀】三菱PLC模塊 QJ72LP25-25 全新 ==> {'min': 33000, 'max': 33000, 'ori_min': 33000, 'ori_max': 33000}
(辦公首選華碩I7商務桌機 獨家送微軟OFFICE)I7-11700時脈4.9G/16核心/16G/256G+1TB電腦 ==> {'min': 25900, 'max': 29900, 'ori_min': 25900, 'ori_max': 29900}
WD西部數據NAS硬盤12T服務器硬盤12t網絡硬盤紅盤Pro WD121KFBX ==> {'min': 50760, 'max': 50760, 'ori_min': 50760, 'ori_max': 50760}
全新零刻 SEi8 i5-8279U 酷睿i5辦公電腦微型主機 Intel 辦公電腦 迷你電腦 小電腦 微電腦 ==> {'min': 23692, 'max': 23692, 'ori_min': 23692, 'ori_max': 23692}
【樂意創客官方店】《附發票》AI機械手臂 樹莓派 4B Raspberry 視覺識別 ArmPi-FPV (豪華版本) ==> {'min': 22800, 'max': 22800, 'ori_min': 22800, 'ori_max': 22800}
KINGHOPE KH-82膽機組合音響發燒hifi藍牙書架音箱功放CD/DVD套裝 ==> {'min': 38280, 'max': 38280, 'ori_min': 38280, 'ori_max': 38280}
【24H出貨】(公司貨) iMICE X7 電競滑鼠 2400DPI 呼吸燈 電腦滑鼠 光學滑鼠 有線滑鼠 競技滑鼠 ==> {'min': 155, 'max': 155, 'ori_min': 155, 'ori_max': 155}
Renova Zero Pod 煙彈 空煙彈 空倉 空夾 空彈 ==> {'min': 199, 'max': 230, 'ori_min': 199, 'ori_max': 230}

## 抓取政府電子採購網資料

In [ ]:
url = "https://web.pcc.gov.tw/prkms/tender/common/bulletion/readBulletion?querySentence=%E9%9B%BB%E8%85%A6&tenderStatusType=%E6%8B%9B%E6%A8%99&sortCol=TENDER_NOTICE_DATE&timeRange=112&pageSize=10"

In [ ]:
dfs = pd.read_html(url, encoding='utf-8')

In [ ]:
dfs[4]

In [ ]:
dfs[4]['標案案號標案名稱'][0]

## 讀取政府資料開放平台實價登錄資料

https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv

In [ ]:
url = "https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv"

In [ ]:
df = pd.read_csv(url)

In [ ]:
df.head()

### 將 DataFrame 轉存成不同格式

In [ ]:
df.to_excel('實價登錄資料.xlsx')

In [ ]:
df.head(100).to_html('實價登錄前一百筆資料.html')

In [ ]:
df.head(100).to_json('實價登錄前一百筆資料.json')

## 檔案的IO

###文字檔

一般作法:

```python
f = open('test.txt', 'w')
f.write(data)
f.close()
```

替代性作法：
```python
with open('test.txt', 'w') as f:
  f.write(data)
```

In [ ]:
open?

###二進位檔 (Binary Files)
譬如：圖片, excel檔等

一般作法：

```python
f = open('test.jpg', 'wb')
f.write(data)
f.close()
```

替代性作法：
```python
with open('test.jpg', 'wb') as f:
  f.write(data)
```

## 抓取網頁並存成文字檔

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [ ]:
r = requests.get(url)

In [ ]:
with open('index.html', 'w') as f:
  f.write(r.text)

### 抓取圖片並存成圖片檔

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/ninja.jpg"

In [ ]:
r = requests.get(url)

ConnectionError: ignored

In [ ]:
with open('ninja.jpg','wb')as f:
  f write(r.content)

## 練習Pandas的使用

In [207]:
import numpy as np
import pandas as pd

In [238]:
grades = np.random.randint(30, 101, (10, 4))

In [239]:
grades

array([[72, 55, 73, 65],
       [40, 65, 51, 78],
       [89, 86, 63, 66],
       [49, 98, 87, 59],
       [92, 48, 91, 81],
       [51, 49, 42, 89],
       [64, 89, 52, 92],
       [56, 83, 90, 91],
       [60, 90, 99, 37],
       [97, 74, 53, 30]])

In [241]:
df = pd.DataFrame(grades)

In [242]:
df

    0   1   2   3
0  72  55  73  65
1  40  65  51  78
2  89  86  63  66
3  49  98  87  59
4  92  48  91  81
5  51  49  42  89
6  64  89  52  92
7  56  83  90  91
8  60  90  99  37
9  97  74  53  30

In [249]:
df.columns = ['國文','英文','數學','理化']

In [250]:
df.index = ["郭雅惠","陳欣虹","王孟修","李政勇",
            "陳仲燦","王寧東","楊雅名","藍冰啟","林玉亨","崔承睿"]

In [251]:
df

     國文  英文  數學  理化
郭雅惠  72  55  73  65
陳欣虹  40  65  51  78
王孟修  89  86  63  66
李政勇  49  98  87  59
陳仲燦  92  48  91  81
王寧東  51  49  42  89
楊雅名  64  89  52  92
藍冰啟  56  83  90  91
林玉亨  60  90  99  37
崔承睿  97  74  53  30

### 列出國文不及格的同學名單

In [252]:
# 取出國文成績
df['國文']

郭雅惠    72
陳欣虹    40
王孟修    89
李政勇    49
陳仲燦    92
王寧東    51
楊雅名    64
藍冰啟    56
林玉亨    60
崔承睿    97
Name: 國文, dtype: int64

In [253]:
# 判斷成績是否及格: True:不及格, False及格
df['國文'] < 60

郭雅惠    False
陳欣虹     True
王孟修    False
李政勇     True
陳仲燦    False
王寧東     True
楊雅名    False
藍冰啟     True
林玉亨    False
崔承睿    False
Name: 國文, dtype: bool

In [254]:
# Filtering
df[df['國文'] < 60]

     國文  英文  數學  理化
陳欣虹  40  65  51  78
李政勇  49  98  87  59
王寧東  51  49  42  89
藍冰啟  56  83  90  91

In [256]:
# 使用 & (and) 連接兩個條件 (註: | (or))
df[(df['國文'] < 60) & (df['英文'] < 60)]

     國文  英文  數學  理化
王寧東  51  49  42  89

### 計算總分與平均

In [257]:
df

     國文  英文  數學  理化
郭雅惠  72  55  73  65
陳欣虹  40  65  51  78
王孟修  89  86  63  66
李政勇  49  98  87  59
陳仲燦  92  48  91  81
王寧東  51  49  42  89
楊雅名  64  89  52  92
藍冰啟  56  83  90  91
林玉亨  60  90  99  37
崔承睿  97  74  53  30

In [259]:
df.sum()

國文    670
英文    737
數學    701
理化    688
dtype: int64

In [261]:
df.sum?

In [264]:
df.sum(axis=1)

郭雅惠    265
陳欣虹    234
王孟修    304
李政勇    293
陳仲燦    312
王寧東    231
楊雅名    297
藍冰啟    320
林玉亨    286
崔承睿    254
dtype: int64

In [266]:
df['總分'] = df.sum(axis=1)

In [268]:
df

     國文  英文  數學  理化   總分
郭雅惠  72  55  73  65  530
陳欣虹  40  65  51  78  468
王孟修  89  86  63  66  608
李政勇  49  98  87  59  586
陳仲燦  92  48  91  81  624
王寧東  51  49  42  89  462
楊雅名  64  89  52  92  594
藍冰啟  56  83  90  91  640
林玉亨  60  90  99  37  572
崔承睿  97  74  53  30  508

In [270]:
df.mean(axis=1)

郭雅惠    159.0
陳欣虹    140.4
王孟修    182.4
李政勇    175.8
陳仲燦    187.2
王寧東    138.6
楊雅名    178.2
藍冰啟    192.0
林玉亨    171.6
崔承睿    152.4
dtype: float64

In [272]:
df[['國文','英文','數學','理化']].mean(axis=1)

郭雅惠    66.25
陳欣虹    58.50
王孟修    76.00
李政勇    73.25
陳仲燦    78.00
王寧東    57.75
楊雅名    74.25
藍冰啟    80.00
林玉亨    71.50
崔承睿    63.50
dtype: float64

In [274]:
df['平均'] = df[['國文','英文','數學','理化']].mean(axis=1)

In [276]:
df

     國文  英文  數學  理化   總分     平均
郭雅惠  72  55  73  65  530  66.25
陳欣虹  40  65  51  78  468  58.50
王孟修  89  86  63  66  608  76.00
李政勇  49  98  87  59  586  73.25
陳仲燦  92  48  91  81  624  78.00
王寧東  51  49  42  89  462  57.75
楊雅名  64  89  52  92  594  74.25
藍冰啟  56  83  90  91  640  80.00
林玉亨  60  90  99  37  572  71.50
崔承睿  97  74  53  30  508  63.50

### 輸出成Excel表

In [280]:
df.to_excel('成績單.xlsx')

In [282]:
df.rank()

       國文    英文    數學    理化    總分    平均
郭雅惠   7.0   3.0   6.0   4.0   4.0   4.0
陳欣虹   1.0   4.0   2.0   6.0   2.0   2.0
王孟修   8.0   7.0   5.0   5.0   8.0   8.0
李政勇   2.0  10.0   7.0   3.0   6.0   6.0
陳仲燦   9.0   1.0   9.0   7.0   9.0   9.0
王寧東   3.0   2.0   1.0   8.0   1.0   1.0
楊雅名   6.0   8.0   3.0  10.0   7.0   7.0
藍冰啟   4.0   6.0   8.0   9.0  10.0  10.0
林玉亨   5.0   9.0  10.0   2.0   5.0   5.0
崔承睿  10.0   5.0   4.0   1.0   3.0   3.0

In [284]:
df['總分'].rank(ascending=False)

郭雅惠     7.0
陳欣虹     9.0
王孟修     3.0
李政勇     5.0
陳仲燦     2.0
王寧東    10.0
楊雅名     4.0
藍冰啟     1.0
林玉亨     6.0
崔承睿     8.0
Name: 總分, dtype: float64

In [286]:
df['名次'] = df['總分'].rank(ascending=False)

In [287]:
df

     國文  英文  數學  理化   總分     平均    名次
郭雅惠  72  55  73  65  530  66.25   7.0
陳欣虹  40  65  51  78  468  58.50   9.0
王孟修  89  86  63  66  608  76.00   3.0
李政勇  49  98  87  59  586  73.25   5.0
陳仲燦  92  48  91  81  624  78.00   2.0
王寧東  51  49  42  89  462  57.75  10.0
楊雅名  64  89  52  92  594  74.25   4.0
藍冰啟  56  83  90  91  640  80.00   1.0
林玉亨  60  90  99  37  572  71.50   6.0
崔承睿  97  74  53  30  508  63.50   8.0